<!-- <div class="container-fluid p-0 m-0" >
    <div class="img-fluid">
        <img [src]="imageSrc" alt="">
    </div>

</div> -->
<!-- 
<div class="about">
    <p class="text1" align="justify"><b>Discussion Forum is to share and grow the world’s knowledge. Not all knowledge
            can be written down
            We want to connect the people who have knowledge to the people who need it, to bring together people with
            different perspectives so they can understand each other better,
            and to empower everyone to share their knowledge for the benefit of the rest of the world.</b>
    </p>
</div> -->

<!-- <div class="container-fluid p-0 m-0">
    <div class="img-fluid1">
        <img [src]="imageSrc" alt="">
    </div>


<div class="about">
    <p class="text2" align="justify"><b>
            <div class="about">
                <p class="text1" align="justify"><b>The heart of Quora is questions — questions that affect the world,
                        questions that explain recent world events, questions that guide important life decisions, and
                        questions that provide insights into why other people think differently. Quora is a place where
                        you can ask questions that matter to you and get answers from people who have been there and
                        done that. Quora is where scientists, artists, entrepreneurs, mechanics, and homemakers take
                        refuge from misinformation and incendiary arguments to share what they know.</b>
                </p>
            </div>
        </b>
    </p>
</div>
</div> -->


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="../assets/images/About-1.jpg">
                    </div><br>
                    <!-- <div class="col-6 text-start">
                        <img class="img-fluid" src="../assets/images/About-0.jpg" style="width: 85%; margin-top: 15%;">
                    </div> -->
                    <!-- <div class="col-6 text-end">
                        <img class="img-fluid" src="../assets/images/About-0.jpg" style="width: 85%;">
                    </div> -->
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="../assets/images/About-2.jpg">
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="margin: top 40px;;">
                <h1 class="mb-4">Discussion Forum is to share and grow the world’s knowledge. </h1>
                <p class="mb-4"> 
                    We want to connect the people who have knowledge to the people who need it, to bring together people with
                    different perspectives so they can understand each other better,
                    and to empower everyone to share their knowledge for the benefit of the rest of the world.</p><br>
                <p>The heart of DiscussionForum is questions — questions that affect the world,
                    questions that explain recent world events, questions that guide important life decisions, and
                    questions that provide insights into why other people think differently. Quora is a place where
                    you can ask questions that matter to you and get answers from people who have been there and
                    done that. Quora is where scientists, artists, entrepreneurs, mechanics, and homemakers take
                    refuge from misinformation and incendiary arguments to share what they know.</p>
                <a class="btn btn-secondary py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>